body {
	text-align: center;
	background-color: #30bae5;
}

h1 {
	margin-top: 3%;
}

#letterDisplayContainer {
	margin-top: 2%;
	clear: left;
}

canvas {
	margin-top: 5%
}

#currentWord {
	height: 25px;
	margin-top: 15%;
}

.goalWordLetters {
	margin: auto;
	width: 25px;
	display: inline-block;
}


.alphabetButtons, .alphabetButtons:hover, .alphabetButtons:focus, .alphabetButtons:active {
	background-color: #30bae5;
	border: none;
}


#hangmanCanvas { 
	height: 350px;
	width: 400px;
	background-color: #30bae5;
}

#gitHubLink {
	background-color: #e55b30;
	border: none;
	float: left;
}

#jsFiddleLink {
	background-color: #e55b30;
	border: none;
	float: right;
}